.login-page,
.register-page {
  background: url(../img/background.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}



.error-page {
  background-color: #f4f6f9;
  margin: 200px auto 0;
  width: 600px;
}